@font-face {
	font-family: 'NeueHaasGroteskText Pro Md';
	src: url(../../assets/fonts/NHaasGroteskTXPro-65Md.woff2) format('woff2'),
	url(../../assets/fonts/NHaasGroteskTXPro-65Md.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}